.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.flex1 {
    flex: 1;
}

.gap {
    gap: 1rem;
}

.double-gap {
    gap: 2rem;
}

.gap3 {
    gap: 3rem;
}

.watermark {
    display: flex;
    position: fixed;
    z-index: -1;
    top: 77%;
    left: 6rem;

    max-width: 1376px;

    font-size: 8rem;
    font-weight: 700;
    color: var(--watermark);
}

.highlight {
    font-weight: 500;
    padding: .4rem 1rem;
    background-color: var(--highlight);
    border-radius: 8px;
}

.highlight>a {
    color: var(--dark);
    font-style: none;
}

/* */
.card {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;

    min-height: 180px;
    min-width: 380px;
    padding: 1.2rem;
    gap: 1.4rem;
    border-left: 4px solid var(--dark);
    border-radius: 8px;
    background-color: var(--primary-color);

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 25%);
}

.card a {
    color: var(--dark);
    text-decoration: none;
}

.btn {
    padding: 1rem 2rem;
    max-width: fit-content;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--pure);
    background-color: var(--grey2);
    text-decoration: none;
}

/* Glitch Effect */

.stack {
    padding-top: 4.8rem;
    display: grid;
    grid-template-columns: 1fr;
}

.stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 800ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) {
    --glitch-translate: 8px;
}

.stack span:nth-child(even) {
    --glitch-translate: -8px;
}

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 rgb(204, 0, 68), 2px -3px 0 rgb(0, 132, 184);
    }

    ;

    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }

    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 rgb(204, 0, 68), -2px 3px 0 rgb(0, 132, 184);
    }

    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 rgb(204, 0, 68), 2px -3px 0 rgb(0, 132, 184);
        transform: translate(var(--glitch-translate));
    }

    2% {
        text-shadow: 2px -3px 0 rgb(204, 0, 68), -2px 3px 0 rgb(0, 132, 184);
    }

    4%,
    100% {
        text-shadow: none;
        transform: none;
    }
}